{% extends 'CMSAdminBundle::admin.html.twig' %}
{% block body %}
<h1>Media Category edit</h1>

<form action="{{ path('admin_mediacategory_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">{{ form_label(edit_form.name) }}</label>
            <div class="controls">
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name) }}
            </div>
        </div>
        <div class="form-actions">
            {{ form_row(edit_form._token) }}
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{{ path('admin_mediacategory', {'page' : 1}) }}" class="btn">Back To List</a>
        </div>

    </fieldset>
</form>
{% endblock %}