{{ 'Hello Admin'|trans({}, "CMSFrontBundle") }},
{{ 'You have an email from a customer:'|trans({}, "CMSFrontBundle") }},
<br />
<fieldset class="fieldset-1">
    <ul>
        <li>
            <label for="quality">{{ 'Gender' | trans({} , 'CMSFrontBundle') }}: {{ gender }}</label>

        </li>
         <li>
            <label for="name">{{ 'Name' | trans({} , 'CMSFrontBundle') }}: {{ name }}</label>
        </li>
        <li>
            <label for="first name">{{ 'First Name' | trans({} , 'CMSFrontBundle') }}: {{ firstname }}</label>
        </li>
        <li>
            <label for="E-mail">{{ 'Email' | trans({} , 'CMSFrontBundle') }}: {{ email }}</label>
        </li>
      </ul>
</fieldset><!-- fieldset-1-->
<fieldset class="fieldset-2">
    <ul>
        <li>
            <label for="company">{{ 'Company' | trans({} , 'CMSFrontBundle') }}: {{ company }}</label>
        </li>
        <li>
            <label for="Téléphone">{{ 'Phone' | trans({} , 'CMSFrontBundle') }}: {{ phone }}</label>
        </li>
    </ul>
</fieldset>
<fieldset class="fieldset-3">
    <label for="comment">{{ 'MESSAGE' | trans({} , 'CMSFrontBundle') }}</label>
    <br />
    {{ comment }}
</fieldset>


