{% extends 'CMSAdminBundle::layout.html.twig' %}
{% block body %}
<h1>User</h1>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Fullname</th>
            <td>{{ entity.fullname }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ entity.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated_at</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ entity.active }}</td>
        </tr>
    </tbody>
</table>

<form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post" class="well form-inline">
    <a class="btn" href="{{ path('admin_user') }}">
        Back to the list
    </a>
    <a class="btn btn-primary" href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
        Edit
    </a>
    <button class="btn btn-danger" type="submit">Delete</button>
    {{ form_widget(delete_form) }}
</form>
{% endblock %}