{% extends 'CMSFrontBundle::front.html.twig' %}
{% block main %}
<div id="container" class="who-we-are">
    {% if media.getName is defined%}
        <img class="rzbackground" src="{{asset(mediaPath~media.getName)}}" alt="" />
    {% endif %}
        <div id="container-outer">
        {% block lang%}
            {{ parent() }}
        {% endblock %}
        {% block sidebar %}
            <aside id="sidebar"></aside>
        {% endblock %}
            <section id="container-inner">
            {% include 'CMSFrontBundle::header.html.twig' %}
                <section id="main">
                    <div class="block-content block-content-1">
                        {% if mainPage.getName is not null  %}
                        <h3>{{mainPage.getName}}</h3>
                        {% endif %}
                        <ul class="type-content-1">
                            {% if childMenu is not null %}
                                {{ childMenu.getContent | raw }}
                            {% endif %}
                        </ul>
                        <div class="block-outer block-outer-contact">
                            <div class="scroll-block-outer">
                                <div class="scroll-block-inner">
                                    {% if listFirstPageArticle is defined and slug[1] is defined%}
                                        {% set articles = listFirstPageArticle %}
                                    {% endif %}
                                    {% if articles|length != 1 %}
                                    {% for article in articles %}
                                        <div class="wrapper-article-general" data-url="{{ url('cms_front_contact_popup') }}">
                                            <header>
                                                <h2>{{ article.getTitle | raw }}</h2>
                                            </header>
                                            <article>
                                                {{ article.getDescription | raw }}
                                            </article>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                        {% set article = articles[0] %}
                                        {% include 'CMSFrontBundle:Contact:contact.html.twig' %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="CMS-scroller">
                                <div class="CMS-scroll-up">
                                    <a href="javascript:void(0);"><span>&nbsp;</span></a>
                                </div>
                                <div class="CMS-scroll-dx ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all">
                                    <a href="#" class="ui-slider-handle ui-state-default ui-corner-all">
                                        <span class="CMS-scroll-dx-btn">&nbsp;</span>
                                    </a>
                                </div>
                                <div class="CMS-scroll-dn"><a href="javascript:void(0);"><span>&nbsp;</span></a></div>
                            </div>
                        </div>
                    </div>
                </section>

            </section>
        </div>
     {% include 'CMSFrontBundle::footer.html.twig' %}
    </div>
{% endblock %}