 <footer id="footer">
        <ul class="right-footer">
       <li class="block-share">
               <a href="#" title="{{ 'facebook'|trans({}, "CMSFrontBundle") }}"><img src="{{ asset('static/front/images/ico-facebook.png') }}" alt="{{ 'facebook'|trans({}, "CMSFrontBundle") }}"/></a>
           <a href="#" title="{{ 'twitter'|trans({}, "CMSFrontBundle") }}"><img src="{{ asset('static/front/images/ico-twitter.png') }}" alt="{{ 'twitter'|trans({}, "CMSFrontBundle") }}"/></a>
           <a href="#" title="{{ 'youtobe'|trans({}, "CMSFrontBundle") }}"><img src="{{ asset('static/front/images/ico-youtobe.png') }}" alt="{{ 'youtobe'|trans({}, "CMSFrontBundle") }}"/></a>
       </li>
       <li><a href="#" title="{{ 'Mentions légales'|trans({}, "CMSFrontBundle") }}">{{ 'Mentions légales'|trans({}, "CMSFrontBundle") }}</a></li>
       <li><a href="sitemap.html" title="{{ 'Plan du site'|trans({}, "CMSFrontBundle") }}">{{ 'Plan du site'|trans({}, "CMSFrontBundle") }}</a></li>
       <li class="last"><a href="#" title="{{ 'Full screen'|trans({}, "CMSFrontBundle") }}" class="ui-icon init-icon-2">{{ 'Full screen'|trans({}, "CMSFrontBundle") }}</a></li>
   </ul>
       <p class="contact-info"><span class="address">{{ '36-40 rue Raspail, 92300 Levallois-Perret'|trans({}, "CMSFrontBundle") }}</span><span class="phone">+ 33 (0)1 71 04 24 00</span></p>
</footer>