{% extends 'CMSAdminBundle::admin.html.twig' %}
{% block body %}
<h1>Article creation</h1>

<form action="{{ path('admin_article_edit', {'id' : entity.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">{{ form_label(form.page) }}</label>
            <div class="controls">
                {{ form_errors(form.page) }}
                {{ form_widget(form.page) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ form_label(form.active) }}</label>
            <div class="controls">
                {{ form_errors(form.active) }}
                {{ form_widget(form.active) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="optionsCheckbox">{{ form_label(form.media_id) }}</label>
            <div class="controls">
              <label class="checkbox">
                    {{ form_errors(form.media_id) }}
                    {{ form_widget(form.media_id, {'attr': {'style': 'display: none'} }) }}
                    {% set selectName = form.media_id.get('full_name') %}
                    {{ CMSmedia(optMedias, selectName, mediaPath, {'multiple': true })|raw() }}
              </label>
            </div>
        </div>

        <hr />

        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                  {% set isActive = 1 %}
                  {% for lang in langList %}
                      {% if isActive == 1%}
                          <li class="active"><a href="#tab{{ lang.id }}" data-toggle="tab">{{ lang.name }}</a></li>
                      {% else %}
                          <li><a href="#tab{{ lang.id }}" data-toggle="tab">{{ lang.name }}</a></li>
                      {% endif %}
                      {% set isActive = 2 %}
                  {% endfor %}
            </ul>
            <div class="tab-content">
                {% set isActive = 1 %}
                {% for lang in langList %}
                    {% set currentAL = null %}
                    {% for articleLanguage in form.article_languages%}
                        {% if articleLanguage.vars.value.language.id == lang.id %}
                            {% set currentAL = articleLanguage %}
                        {% endif%}
                    {% endfor %}
                    {% if isActive == 1%}
                        <div class="tab-pane active" id="tab{{ lang.id }}">
                    {% else %}
                        <div class="tab-pane" id="tab{{ lang.id }}">
                    {% endif %}
                            <fieldset>
                                {% if currentAL is not null %}
                                <div class="control-group">
                                    <label class="control-label" for="input01">{{ form_label(currentAL.title) }}</label>
                                    <div class="controls">
                                        {{ form_errors(currentAL.title) }}
                                        {% if defaultLanguage.name == currentAL.vars.value.language.name %}
                                            {{ form_widget(currentAL.title, {'attr': {'required': 'required'}}) }}
                                        {% else %}
                                            {{ form_widget(currentAL.title) }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="input01">{{ form_label(currentAL.description) }}</label>
                                    <div class="controls">
                                        {{ form_errors(currentAL.description) }}
                                        {{ form_widget(currentAL.description) }}
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="input01">{{ form_label(currentAL.content) }}</label>
                                    <div class="controls">
                                        {{ form_errors(currentAL.content) }}
                                        {{ form_widget(currentAL.content) }}
                                    </div>
                                </div>
                                {% endif%}
                            </fieldset>
                        </div>
                    {% set isActive = 2 %}
               {% endfor %}
            </div>
        </div>

        <div class="form-actions">
            {{ form_row(form._token) }}
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{{ path('admin_article', {'page' : 1}) }}" class="btn">Back To List</a>
        </div>

    </fieldset>
</form>

{% endblock %}